%h1= @title
%p
  :maruku
    [#{$ROR_TUT[:str]}](#{$ROR_TUT[:link]}) is a project to make a book and
    screencasts to teach web development with
    [#{$ROR_TUT[:ror]}](#{$ROR_TUT[:rorlink]}). This is the sample application
    for the tutorial.