%h1= @title
%p
  Get help at the 
  = succeed '.' do
    %a{:href => $ROR_TUT[:link]} #{$ROR_TUT[:str]} help page
  To get help on this sample app, see the 
  = succeed '.' do
    %a{:href => "#{$ROR_TUT[:link]}/book"} Rails Tutorial book