!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
  %head
    %title= title
    = csrf_meta_tag
    /[if lt IE 9]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    %link{:rel => "stylesheet",
      :type => "text/css",
      :href => stylesheet_path("screen.css"),
      :media => "screen, projection"}
    %link{:rel => "stylesheet",
      :type => "text/css",
      :href => stylesheet_path("application.css")}
  %body
    #page
      = render "header"
      
      #main
        = yield
        
      = render "footer"